* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2d2d2;
}

.tasks-wrapper {
  width: 40%;
  background-color: white;
  margin: 100px auto;
}

.tasks-wrapper i {
  color: gray;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  border-bottom: 1px solid #d2d2d2;
}

.tasks-header h3 {
  font-size: 1em;
  font-weight: 400;
  color: #6b6262;
}

.tasks-header i {
  font-size: 0.8em;
}

.task-adder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  padding: 3%;
}

.task-adder input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1em;
  color: #6b6262;
}

.task-adder button {
  background-color: inherit;
  border: none;
  font-size: 0.8em;
}

.tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  border-bottom: 1px solid #d2d2d2;
}

.tasks div {
  display: flex;
  align-items: center;
  gap: 0.8em;
  width: 100%;
}

.tasks input[type='checkbox'] {
  width: 22px !important;
  height: 22px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid rgb(226, 219, 219);
  box-shadow: none;
  text-align: center;
  line-height: 1em;
  background: white;
}

.tasks input[type='checkbox']:checked::after {
  content: '✔';
  color: green;
  font-size: 1.4em;
  font-weight: 900;
}

.tasks input[type='text'] {
  width: 100%;
  font-size: 1em;
  border: none;
  background-color: inherit;
  outline: none;
}

.tasks button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.tasks button i:hover {
  color: red;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f7f2f2;
}

.button-wrapper button {
  background-color: inherit;
  border: none;
  padding: 3%;
  cursor: pointer;
  font-size: 1em;
  color: #6b6262;
}

.button-wrapper button:hover {
  color: black;
  text-decoration: underline;
}
