* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #d2d2d2;
}

.tasks-wrapper {
  width: 40%;
  background-color: white;
  margin: 100px auto;
}
.tasks-wrapper i{
    color: gray;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  border-bottom: 1px solid #d2d2d2;
}
.tasks-header h3{
    font-size: 1.3em;
    font-weight: 400;
    color: #6b6262;
    
}
.tasks-header i{
    font-size: 0.8em;
}
.task-adder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
}
.task-adder input {
  width: 100%;
  border: none;
  outline: none;
  padding: 3%;
  font-size: 1.2em;
  color: #6b6262;
}
.task-adder i{
    font-size: 0.8em;
    margin-right: 3%;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    background-color: #f7f2f2;
}
.button-wrapper button{
    background-color: inherit;
    border: none;
    padding: 3%;
    cursor: pointer;
    font-size: 1em;
    color: #6b6262;
    
}
.button-wrapper button:hover{
    color: black;
    text-decoration: underline;
}
